

.form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 200px;
  border: 1px solid red;
}

.button {
  width: 100px;
  margin: 10px auto 5px;
}

.input {
  width: 150px;
  margin: 10px auto 0;
  text-align: center;
}

.block {
  max-width: 320px;
  display: flex;
  margin: 10px auto;
  align-items: baseline;
}

.block__title {
  margin: 0;
}

.block__paragraf {
  margin: 0 0 0 5px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}